.bd{
	border: 1px solid #000;
}

.rotate{ 
	transform: rotate(180deg);
}

.title1{
	color: $brand_primary;
	padding-bottom: 5px;
	font-weight: bold;
	font-size: $sz2;
	border-bottom: 1px solid $color_light2;
	margin-bottom: 20px; 
}

.btn-block{
	width: 100%;
	display: block;
}

.hidden{
	display: none !important;
}

.tac{
	text-align: center;
}

.mt5{ margin-top: 5px;}
.mt10{ margin-top: 10px;}
.mt25{ margin-top: 25px;}
.mt30{ margin-top: 30px;}
.mb10{ margin-bottom: 10px;}