@import '../../libs/bootstrap-sass-3.3.7/assets/stylesheets/bootstrap/_variables';

// $body-bg: red;


// $brand-primary: red;

// $brand-success: blue;
.pl0 { padding-left: 0px; }
.pr0 { padding-right: 0px;}


// Colors
$primary-color: #6cb93f;
$button-raised-background: #6cb93f;
$input-border: #6cb93f;

$danger-color: #F44336;

// GrayScale
$color_num1: #525252;
$color_num2: #444444;
$color_num3: #333333;

// WhiteScale:
$color_light0: #ffffff;
$color_light1: #f4f4f4;
$color_light2: #ccc;

// Color Borders

$bd_color_1: #ccc;

// Size

$sz0_1: 1rem;
$sz0_2: 1.2rem;
$sz1: 1.4rem;
$sz2: 1.6rem;
$sz3: 1.8rem;
$sz4: 2rem;
$sz5: 2.2rem;
$sz6: 2.4rem;
$sz6_1: 2.5rem;
$sz7: 3rem;

