@import '../_variables';

#pdp{
	padding: 10px;

	.product{
		.nm_product{
			font-weight: bold;
			font-size: 1.0rem;
		}
		img{
			width: 100%;
		}
		.details{
			.boxTitle{
				margin-top: 10px;
				font-size: 1.2rem;
				font-weight: bold; 
				
				.division{
					display: inline-block;
					border: 1px solid #ccc;
					border-bottom: 1px solid #fff;
					padding: 0px 6px;

					.description_title{
					}
				}

				.price{
					color: $primary-color;

					span{
						color: #000;
						font-size: 0.8rem;
					}
				}	
			}
			.description{
				margin: 0;
				border: 1px solid #ccc;
				margin-top: -1px;
				padding: 10px;
			}	
		}
		.boxForm{

			.formAddToCart{
				display: flex;
				flex-wrap: wrap;

				.boxQtde{
					display: flex;
					align-items: center;
					margin-top: 5px;
					width: 55%;

					input{
						text-align: center;
					}

					.button_action{
						// font-weight:bold;
						color: $primary-color;
						padding: 10px;
						font-size: 1.3rem;
					}

					label.active{
						font-weight: bold;
					}
				}

				.boxValue{
					margin-left: 10px ;
					.title{
						margin-top: 5px;
						font-weight: bold;
						font-size: 0.8rem;
					}

					.value{
						color: $primary-color;
						font-weight: bold;
						font-size: 1.3rem;
					}
				}

				.boxDelete{
					flex: 1;
					display: flex;
					align-items: center;
					justify-content: center;
					color: $danger-color;
				}

				.boxTotal{
					background: #eee;
					font-weigth: bold;
					width: 100%;
					border-radius: 2px;


					p{
						text-align: center;
						margin: 0px;
						padding: 10px;
						font-weight: bold;
					}
				}

				button{
					margin-top: 10px;
					width: 100%;
				}
			}
		}
	}

	.boxResults{
		background: $primary-color;
		color: #fff;
		margin-top: 10px;;
		display: flex;
		border-radius: 2px;
		// padding: 0px 10px;

		.box{
			width: 33%;
			border-right: 1px solid #fff;
			padding: 10px 10px;

			p{
				margin: 0px;

				&.title{
					font-weight: bold;
				}
			} 
		}
	}
}