@import '../_variables';
@import '../_mixins';

#login{
	.title{
		color: $primary-color;
		font-weight: bold;
		font-size: $sz0_2;
		margin: 15px 0px 0px;
	}

	form{
		margin-top: 15px;;
	}

	.input-field {
		margin: 0;
		input{
			// margin: 0;

		}
	}
	
}