@import '../_variables';

#cart{
	padding: 15px 15px 0;
	display: flex;
	flex-wrap: wrap;
	

	min-height: calc(100vh - 64px);
	flex-direction: column;

	.content{
		flex: 1 0 auto;
		position: relative;
	}

	.cart{
		border-bottom: 1px solid #ccc;
		display: block;
		width: 100%;
		color: #333;

		p{
			font-size: 1rem !important;
			margin: 0px;

			i{
				font-size: inherit;
			}
		}
	}

	.emptyCart{
		width: 100%;
		margin-top: 50px;;
		text-align: center;
		font-size: 2rem;

		p{
			margin: 0px;

			&:first-of-type{
				margin-bottom: 10px;	
			}
		}
	}

	.itemProduct{



		.item{
			display: flex;
			flex-wrap: wrap;
			align-items: start;
			margin-top: 10px;
			font-weight: bold;
			border-bottom: 1px solid $primary-color;
			padding-bottom: 10px;

			img{
				width: 50px;
				height: 50px;
			}

			.description{
				flex: 1;
				display: flex;
				align-items: top;
				padding: 0px 10px;

				.nm_product{
					// max-width: 70%;
					margin: 0px;
					flex: 1;
				}

				.right{
					text-align: right;
					color: $primary-color;
				}
			}
		}
	}

	.searchItens{
		background: #eee;
		width: calc(100% + 30px);
		padding: 25px 10px;
		margin-left: -15px;


		.input-field, input, .row{
			margin: 0px;
		}

		.input-field{
			button, a{
				padding: 0px;
				margin: 0px;
				display: flex;
				align-items: center;
				justify-content: center;

				i{
					margin: 0;
					padding: 0;
					text-align: center;
					width: 100%;
				}
			}
		}
	}

	
}

.cart{
	border-bottom: 1px solid #ccc;
	display: block;
	width: 100%;
	color: #333;

	p{
		font-size: 1rem !important;
		margin: 0px;

		i{
			font-size: inherit;
		}
	}
}