body.logged{

	.sectionLogged{
		display: flex !important;
	}

}

header{

	background: $primary-color;

	> div {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.right.sectionLogged{
			margin-right: 10px;
			display: none;


			a{
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				text-align: center;
				color: #fff;

				&.danger{
					// color: $danger-color;
				}

				i{
					width: 100%;
				}
			}
		}
	}
	

	.logo{
		width: 60px;
		height: 60px;
		display: flex;
		margin-left: 10px;
		background: #fff;
		padding: 2px 5px;

		img{
			width: 100%;
		}
	}
}