@import '_mixins';
@import 'components/_font-materialize';


body {
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
  font-family: Roboto;
  background: #fff !important;
  position: relative;
}

.btn-primary{
	background: $brand-primary;
}

// Para Materialize
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  position: relative;
}

label.active{
  color: #333 !important;
}

input{
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
  &.invalid{
    border-bottom: 1px solid $danger-color !important;
    box-shadow: 0 1px 0 0 $danger-color !important;
  }
}

.container{
  padding: 15px;
}